*{
    margin:0;    
}

@font-face{
    font-family: 'Arman';
    src: url("./fonts/Raleway-Bold.woff") format("woff");
}


.container{
    width: 960px;
    margin: 30px auto;
}
#banner img{
    width:960px;
}

header{
    /* background: black; */
    padding: 20px;
    text-align: start;
    font-family: "Arman";
    transition: all 0.5s ease-in;
    cursor: pointer;
}
header:hover{
    background: rgb(87, 52, 52);
}
header h2{
    font-size: 18px;
    color: aqua
}

header p{
    font-size: 12px;
    color: aqua
}

nav{

}
nav ul{
    list-style-type: none;
    padding: 0px;
    display: flex;
    background: aquamarine;
    justify-content: start;
    align-items: center
}

nav ul li{
    padding: 10px;
    border-right: 2px solid yellow;
    background: aquamarine;
    transition: all 0.3s ease-out;
}
nav ul li:hover{
    background: yellowgreen;
}

nav ul li:last-child{
    border-right: none;
}

nav ul li a{
    text-decoration: none;
    color:brown
}

#banner{
    position: relative;
}

#banner .caption{
    position: absolute;
    right: 385px;
    top: 270px;
    background: aquamarine;
    padding: 30px;
}

#banner .caption h2{
    color: white;
}

#content_wrapper{
    display: flex;
}

#content_wrapper .content{
    width:600px;
    background: azure !important;
    padding:20px;
}

#content_wrapper aside{
    width:360px;
    background: antiquewhite;
    padding:20px;
}

#content_wrapper aside ul{
    list-style-type:none;
}

#content_wrapper aside ul li{
    background-color: yellow;
    border-bottom: 2px solid red;
    padding:16px;
    cursor:pointer;
}

#content_wrapper aside ul li:last-child{
    border-bottom: none;
}

#content_wrapper aside ul li:first-child{
    text-align: center;
    background: green;
    color: white;
    font-weight:bold;
}

footer{
    background: gray;
    color:white;
    padding: 12px;
    text-align: center;
}